#clr,
.clr{
    color: rgb(46, 45, 45);
}
#body{
    background:linear-gradient(45deg, #f5ac, yellow);
    margin-top: 60px;
}
img{
    object-fit: fill;
}
footer{
    background-color: rgb(18, 18, 71);
}
#hv:hover{
color: #f5ad;
}

@media (max-width:430px){
    footer .ftd{
        flex-direction: column;
        margin-bottom: 10px;
    }
}